# Apartment Prices

In [7]:
import pandas as pd

## Read in data

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/su-mt4007/data/refs/heads/main/Booli_sold.csv")
df

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.latitude,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url
0,3995000,4467.0,73.0,3.0,2018-10-15 13:33:18,1935.0,Lägenhet,3263989,2018-11-08,3820000,...,59.371033,18.054057,NaN,Stockholm,Stockholms län,260,MOHV,1901865,Broker,http://www.mohv.se/
1,1995000,1773.0,36.0,1.0,2018-10-05 14:29:28,1968.0,Lägenhet,3256231,2018-10-19,2355000,...,59.371242,18.057821,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
2,5100000,3839.0,81.0,3.0,2018-09-11 13:44:43,1936.0,Lägenhet,3236660,2018-09-27,6110000,...,59.371617,18.054716,NaN,Stockholm,Stockholms län,186,Historiska Hem AB,65645750,Broker,http://historiskahem.se/
3,5495000,4483.0,107.0,4.0,2018-08-25 02:56:56,1936.0,Lägenhet,3224374,2018-09-06,8050000,...,59.371480,18.053880,NaN,Stockholm,Stockholms län,218,Notar,1566,Broker,http://www.notar.se/
4,1995000,1696.0,29.0,1.0,2018-06-15 17:16:19,1936.0,Lägenhet,3185496,2018-06-18,2400000,...,59.372160,18.053542,True,Stockholm,Stockholms län,166,Mäklarhuset,204,Broker,http://www.maklarhuset.se/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1495000,1388.0,26.0,1.0,2012-10-20 07:36:37,1935.0,Lägenhet,1297784,2012-11-30,1475000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
154,2245000,2455.0,50.0,2.0,2012-10-19 15:32:58,1935.0,Lägenhet,1296874,2012-10-27,2245000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/
155,1450000,1072.0,23.0,1.0,2012-09-14 05:10:08,1936.0,Lägenhet,1270599,2012-10-22,1450000,...,59.371194,18.053552,NaN,Stockholm,Stockholms län,255,Notar,1566,Broker,http://www.notar.se/
156,2495000,2748.0,56.0,3.0,2012-09-21 12:19:37,1935.0,Lägenhet,1276232,2012-10-09,2200000,...,59.372759,18.054634,True,Stockholm,Stockholms län,70,Notar,1566,Broker,http://www.notar.se/
157,2300000,2455.0,50.0,2.0,2012-09-16 02:33:35,1935.0,Lägenhet,1272477,2012-10-09,2180000,...,59.372272,18.055659,True,Stockholm,Stockholms län,101,Notar,1566,Broker,http://www.notar.se/

## Select

In [40]:
relevant_df1 = df[["booliId", "soldPrice", "livingArea"]]
relevant_df1

     booliId  soldPrice  livingArea
0    3263989    3820000        73.0
1    3256231    2355000        36.0
2    3236660    6110000        81.0
3    3224374    8050000       107.0
4    3185496    2400000        29.0
..       ...        ...         ...
153  1297784    1475000        26.0
154  1296874    2245000        50.0
155  1270599    1450000        23.0
156  1276232    2200000        56.0
157  1272477    2180000        50.0

[158 rows x 3 columns]

## Calculate ppsqm

In [42]:
## 1.Calculate the price per square meter (ppsqm) for each apartment sold. 
##   That is, add a new variable to your table containing the data representing the ppsqm
relevant_df1['ppsqm'] = relevant_df1['soldPrice'] / relevant_df1['livingArea']
relevant_df1

C:\Users\User-Dator\AppData\Local\Temp\ipykernel_26308\2698089639.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relevant_df1['ppsqm'] = relevant_df1['soldPrice'] / relevant_df1['livingArea']

     booliId  soldPrice  livingArea         ppsqm
0    3263989    3820000        73.0  52328.767123
1    3256231    2355000        36.0  65416.666667
2    3236660    6110000        81.0  75432.098765
3    3224374    8050000       107.0  75233.644860
4    3185496    2400000        29.0  82758.620690
..       ...        ...         ...           ...
153  1297784    1475000        26.0  56730.769231
154  1296874    2245000        50.0  44900.000000
155  1270599    1450000        23.0  63043.478261
156  1276232    2200000        56.0  39285.714286
157  1272477    2180000        50.0  43600.000000

[158 rows x 4 columns]

## Sort

In [44]:
## 2. Rank the top 5 most expensive appartments w.r.t ppsqm. Present this in a table.
sorted_df = relevant_df1.sort_values("ppsqm", ascending=False)
sorted_df.head()

    booliId  soldPrice  livingArea          ppsqm
67  2018259    2500000        24.0  104166.666667
50  2125576    2450000        24.0  102083.333333
54  2078171    2300000        23.0  100000.000000
34  2330886    2210000        25.0   88400.000000
55  2067384    2300000        26.9   85501.858736

## Calculate the average of ppsqm

In [46]:
## 3. What is the avereage ppsqm in Ekhagen?
Average_ppsqm = relevant_df1['ppsqm'].mean()
print("The avereage ppsqm in Ekhagen is", Average_ppsqm)

The avereage ppsqm in Ekhagen is 58759.382760081724

## The aspect of the data that interests me

In [53]:
relevant_df2 = df[["booliId", "soldPrice", "listPrice"]]
relevant_df2

     booliId  soldPrice  listPrice
0    3263989    3820000    3995000
1    3256231    2355000    1995000
2    3236660    6110000    5100000
3    3224374    8050000    5495000
4    3185496    2400000    1995000
..       ...        ...        ...
153  1297784    1475000    1495000
154  1296874    2245000    2245000
155  1270599    1450000    1450000
156  1276232    2200000    2495000
157  1272477    2180000    2300000

[158 rows x 3 columns]

In [57]:
row_count_relevant_df2 = len(relevant_df2)
row_count_relevant_df2

158

In [71]:
Part_relevant_df2 = relevant_df2[relevant_df2['soldPrice'] < relevant_df2['listPrice']]
Part_relevant_df2

     booliId  soldPrice  listPrice
0    3263989    3820000    3995000
8    3169052    3150000    3250000
9    3154871    5400000    5495000
13   2353845    2610000    2695000
14   3070240    6000000    6650000
22   3009093    3450000    3500000
45   2248632    6600000    6995000
49   2145197    3375000    3495000
69   1978735    3400000    3500000
106  1743673    5600000    5795000
113  1724976    5900000    6500000
122  1623230    3750000    3995000
124  1638172    1700000    1800000
126  1605117    3150000    3250000
136  1467663    2600000    2700000
139  1417697    3275000    3295000
140  1396179    4500000    4995000
142  1401342    3225000    3250000
151  1290945    2250000    2300000
153  1297784    1475000    1495000
156  1276232    2200000    2495000
157  1272477    2180000    2300000

In [73]:
row_count_Part_relevant_df2 = len(Part_relevant_df2)
row_count_Part_relevant_df2

22

In [ ]:
## The aspect of the data that interests me is that many of the sold prices, 22/157, in other words, 14%, 
## are lower than the respective list prices. That means, maybe I should try to give a lower price than 
## the list price when I want to buy an apartment.